* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	max-width: auto;
    background-image: url('./fondo.png');
	background-size: 30%;
	overflow-x: hidden;
    color: white;
}

header {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: skyblue;
    z-index: 999;
}

h1 {
	font-size: 2em;
	text-align: center;
	padding-top: 8px;
    margin: 0 auto;
}

a {
    text-decoration: none;	
    color: black;
}

video {
	text-align: center;
    width: 70%;
    margin: 0 auto;
    width: 101%;
    height: auto;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa img {
	width: 70%;
    padding-top: 2%;
    padding-bottom: 2px;
}

.flechaIzq img {
	width: 80px;
}

.flechaDer img {
    width: 80px;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    padding-bottom: 32px;
}

.titulo_sublista {
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    margin: 4px 10px 8px 10px;
}

.sublista_contenido {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 14px 14px 8px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sublista_contenido li {
    list-style: none;
    text-align: left;
    margin-bottom: 5px;
}

.sublista_contenido a {
    color: skyblue;
}

.titulo_sublista:hover .sublista_contenido {
    display: block;
}

.mas {
    text-align: center;
    padding: 22px;
    font-size: 1.3em;
    color: black;
}

.enlaces {
    background-image: url('./fondoBotton.png');
    background-size: 100%;
    max-width: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.enlaces a {
    color: white;
    font-weight: bold;
    padding: 14px 14px 8px 14px;
}

.enlaces p{
    padding-top: 20px;
}
